# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

packages
node_modules
.vscode
.github
package-lock.json
tsconfig.*
vite.*
.npmrc
.npmignore
.gitignore

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?